.div_dropbox {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: 1px solid black;
}

.div_pickup {
	float: left;
	width: 100px;
	height: 100px;
	margin: 10px;
}

/*
#grid_item {
	width: 90px;
	margin:auto;
}
*/
.card {
	margin: 1.5%;
}

.header-logo {
	height: 30px;
	width: auto;
}

.option-btns {
	margin: 3%;
}

.generate-btn {
	width: 40%;
}

.delete-box {
	float: right;
	width: 18%
}

.align-images {
	display: inline-block;
}